.hero-div {
  background: url("/assets/Home/hero-image.png") center / cover no-repeat;
  color: white;
  height: 38.2rem;
  text-align: left;
  font-size: 1.7rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.hero-header {
  margin: 0;
  margin-top: 1rem;
}

.hero-p {
  font-weight: 300;
  font-size: 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hero-p > p {
  margin: 0;
}

.hero-div > button {
  background: #ff8c38;
  color: white;
  height: 3.75rem;
  margin-top: 1.3rem;
  font-weight: 700;
  font-size: 1.3rem;
  border-radius: 8px;
  border: none;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.hero-div > button:hover {
  transform: scale(1.07);
  color: #4d4d4d;
}

.empty-local-storage {
  margin-left: 1.5rem;
  border: none;
  cursor: pointer;
  width: 2rem;
  border-radius: 8px;
  background: #ff8c38;
  color: white;
  font-weight: bold;
  transition: transform 0.1s ease-in-out;
} 

.empty-local-storage:active {
  transform: scale(0.9);
}