/* HOSTS VANS */

.host-van-div {
  height: 7.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background: white;
  border-radius: 5px;
  padding-left: 1.5rem;
}

.host-van-img {
  width: 5rem;
  height: 5rem;
  border-radius: 10px;
}

.host-vans-h1 {
  margin-top: 0.7rem;
  padding-top: 1rem;
  padding-left: 1rem;
}

.host-vans-container {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: -1rem;
  margin-bottom: 5rem;
}

.host-van-detail {
  color: #161616;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
}

.host-van-detail-h {
  text-decoration: none;
  font-weight: 600;
  margin: 0;
  text-decoration: none;
}

.host-van-detail-p {
  font-weight: 400;
  font-size: 0.9rem;
  margin: 0;
}

/* HOST LISTED VANS PAGE */

.van-listed-container {
  margin: 2rem 2rem 2rem 2rem;
  padding: 2rem;
  background: white;
  border-radius: 6px;
}

.van-listed-div {
  display: flex;
  gap: 1.5rem;
}

.listed-van-img {
  height: 10rem;
  width: 10rem;
  border-radius: 6px;
}

.van-listed-detail {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  justify-content: center;
  gap: 0.8rem;
}

.van-type-listed {
  width: 5.1rem;
  color: white;
  padding: 0.3rem 1rem;
}

.van-listed-name {
  font-weight: bold;
  font-size: 1.4rem;
}

.van-listed-price {
  font-size: 1.1rem;
}

.van-listed-price > span {
  font-weight: bold;
}

.back-btn {
  text-decoration: none;
  padding-left: 2rem;
  color: #201f1d;
}

.back-btn > span:hover {
  text-decoration: underline;
}

.van-listed {
  margin-top: 4rem;
}

.host-vans-nav {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 0.6rem;
  margin-top: 2.2rem;
  font-size: 1.1rem;
  background: white;
}

.listed-van-details {
  padding: 2rem 0 0 0;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.listed-van-details > h3 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 1.2rem;
}

.listed-van-span {
  font-weight: bold;
  margin-right: 0.5rem;
}

.listed-van-pricing {
  font-weight: bold;
  font-size: 1.5rem;
}

.listed-van-photos {
  height: 9.4rem;
  width: 9.4rem;
  border-radius: 7px;
}
