.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em 2em;
    height: 120px;
}

.navbar-link {
    text-decoration: none;
    color: #4D4D4D;
}

.vans-link {
    margin-left: 1.7em;
}

.navbar-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.underline {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.no-decoration {
    text-decoration: none;
}