.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem;
  height: 7.5rem;
}

.navbar-link {
  text-decoration: none;
  color: #4d4d4d;
  margin-left: 1.7rem;
}

.navbar-link:hover,
.host-nav-link:hover,
.host-van-detail-links:hover {
  font-weight: bold;
}

/* HOST NAV */

.host-nav-link {
  margin: 0 0.5rem;
  margin-left: 2rem;
  text-decoration: none;
}

.navbar-links-div {
  display: flex;
  justify-content: center;
}

/* HOST VAN DETAIL NAV */

.host-van-detail-links {
  text-decoration: none;
}
