.all-vans {
    padding: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.van {
    width: 46%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
}

h1 {
    padding-left: 1em;
    margin: 1em 0;
}

.van-img {
    width: 100%;
    border-radius: 10px;
}

.van-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3, p {
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 0;
    margin-top: 0.6em;
}

.day-div {
    display: flex;
    width: 100%;
    justify-content: end;
    margin-top: -13px;
    font-size: 1em;
    font-weight: 400;
}

.van-type {
    padding: 0.5em 1em;
    width: 30%;
    margin-top: -8px;
    border-radius: 8px;
    color: #FFEAD0;
    font-size: 1.1rem;
    font-weight: 500;
}

.simple {
    background: #E17654;
}

.rugged {
    background: #115E59;
}

.luxury {
    background: #161616;
}

.van-link {
    text-decoration: none;
}

.clear-filters {
    text-decoration: underline;
    background-color: #FFF7ED;
    color: black;
    border: none;
    padding: 0.3em;
    margin-top: 0.3em;
    width: 7em;
    margin-left: 1.7em;
    cursor: pointer;
}

.van-popravek {
    width: 7em;
    margin-left: 1.7em;
    cursor: pointer;
    margin-bottom: 1em;
    color: #161616;
    background: #FFEAD0;
    border: none;
}

.van-type.luxurious.selected {
    background: #161616;
    color: #FFEAD0;
}

.van-type.ruggedy.selected {
    background: #115E59;
    color: #FFEAD0;
}

.van-type.simplest.selected {
    background: #E17654;   
    color: #FFEAD0;
}

/* VAN DETAIL PAGE */

.van-detail-img {
    width: 100%;
    height: 90vh;
    margin-bottom: 4em;
}

.van-detail-div {
    margin-top: 2em;
}

.van-detail {
    width: 5.5em;
}

.van-detail-name {
    font-size: 2.5rem;
    margin: .7em 0;
}

.van-detail-price {
    font-size: 1.3rem;
}

.van-detail-price > span {
    font-size: 1.7rem;
    font-weight: bold;
}

.van-desc {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 1.3em 0;
}

.rent-van-btn {
    padding: 1em;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 6em;
    font-size: 1.5rem;
    cursor: pointer;
    background: #FF8C38;
    color: #FFF;
    font-weight: 700;
    border: none;
    border-radius: 7px;
}

.linksis {
    text-decoration: none;
}

.linksis:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}